body {
  font-family: Arial;
  font-size: 67.5%;
  color: var(--colorWhite);
  background-color: var(--colorTealDarker);
}

a {
  color: var(--fontVintage);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--colorLemon);
  text-shadow: 2px 2px var(--colorCharcoal);
}

p {
  color: var(--colorWhite);
  font-size: 1.2rem;
  line-height: 2rem;
}


pre {
  display: block;
  text-align: left;
  font-family: monospace;
  font-size: 2rem;
  white-space: pre;
  padding: 10px;
  margin: 1em 0;
  background-color: var(--colorGreen70);
  color: var(--colorWhite);
  border: dotted 5px var(--colorWhite);
}

input[type="text"] {
  font-size: 100%;
}

/* ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
  font-size: 1.5rem; 
  width: 100%;
}

li {
  padding: 20px;
  list-style: decimal inside none;
  border: solid 0.2rem var(--colorWhite);
  color: var(--colorWhite);
  margin: 10px;
  background-color: var(--colorTealMedium);
}

li:hover {
  background-color: var(--colorMustard);
  cursor: grab;
} */

/* li:nth-child(odd) {
  background-color: #f3edfc;
} */




/* header and footer */

.header
, .main
, .footer {
  max-width: 85vw;
  padding: 10px;
  margin: 30px auto !important;
  text-align: center;
  border: solid 0.3rem var(--colorWhite);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
  border-radius: 5px;
  color: var(--colorWhite);
}



.header {
  background-color: var(--colorElectricBlue);
  /* max-height: 400px !important; */
}

.main {
  background-color: var(--colorGreen);
  /* max-height: 400px !important; */
}

.footer {
  background-color: var(--colorBrownMonkey);
  font-size: 1rem;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: var(--colorWhite);
  border-radius: 0;
  border: 0 !important;
  margin: 0 !important;
  padding: 20px !important;
  /* border-bottom: 10px solid black; */

}

#errMsg {
  font-size: 1.2rem;
  color: var(--colorRed);
  text-shadow: 2px 2px var(--colorCharcoalDarker);
}

header::after,
footer::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
}


ul#footerNav li {
  display: inline;
  padding: 40px;
}


ul#footerNav li  a {
  font-size: 2rem;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  border: 0;
  color: var(--fontVintage);
}

ul#footerNav li  a,
ul#footerNav li  a:focus {
  color: var(--fontVintage);
}

ul#footerNav li a:hover,
ul#footerNav li a:focus:hover, 
ul#footerNav li a.active:hover {
  color: var(--colorTealMedium);
  text-shadow: 1px 1px var(--colorGreenPale);
}

.footerP {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerTags {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--colorWheat);
}

.footerCopyright {
  font-size: 1rem;
  margin-top: 0px;
  font-style: italic;
}

/* global text styling */

h1 {
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}

h4 {
  font-size: 1.3rem;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}

h5, 
h6 {
  font-size: 1rem;
  text-align: center;
}

/* forms */

input {
  width: 50%;
  font-size: 1.4rem !important;
  color: var(--colorWhite);
  padding: 1rem;
  margin: 1rem;
  vertical-align: middle;
  border: 0.3rem solid var(--colorWhite);
  box-sizing: border-box;
  background-color: var(--colorOrange);
  border-radius: 5px;
  /* box-shadow: 5px 5px var(--colorCharcoal); */
}

input[type=text]:focus {
  background-color: var(--colorMustard);
  font-size: 1.4rem;
}

::placeholder {
  color: var(--colorWhite);
  font-size: 1.4rem;
}

/* buttons */

/* .searchBar{
  vertical-align: bottom;
} */

button {
  display: inline;
  padding: 0.5rem;
  margin: 0.5rem;
  vertical-align: middle;
  font-size: 1.7rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: auto;
  color: var(--colorWhite);
  background-color: var(--colorGreen);
  border: solid 0.2rem var(--colorWhite);
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem var(--colorCharcoal);
}

button:hover, 
button:visited {
  background-color: var(--colorRed);
  box-shadow: 0.3rem 0.3rem  var(--colorWheat);
  color: var(--colorWhite);
}

button:active {
  background-color: var(--colorRed);
  box-shadow: 0.3rem 0.3rem  var(--colorWheat);
  transform: translateY(0.4rem);
  color: var(--fontVintage);
}

.searchBtns {
  display: inline-block;
  padding: 0.3rem;
  margin: 0rem;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: auto;
  color: var(--colorWhite);
  background-color: var(--colorGreen);
  border: solid 0.2rem var(--colorWhite);
  border-radius: 5px;
  box-shadow: 0.3rem 0.3rem var(--colorCharcoal);
}

.btnText {
  text-transform: capitalize;
}

/* basic structural */

.hide {
  display: none;
}

.visible {
  display: inline;
}

.left {
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}



/* Weather Icons */

.weaIconMain {
  font-size: 7rem;
  color: var(--colorWhite);
  text-align: left;
}

.weaIconFore {
  font-size: 2.5rem;
  color: var(--colorWhite);
  text-align: center;
}

.tableWeather {
  border: 0.3rem double var(--colorWhite) !important;
  padding: 20px;
  margin: 20px;
}

.tableWeatherDetails {
  border: 0 !important;
  padding: 10px;
  width: 80%;
}

.currWeather {
  color: var(--colorWhite);
  font-size: 1rem;
  text-align: left;
  padding: 0px 20px;
  line-height: 1.5rem;
}

.hotExtreme {
  background-color: var(--tempBrownDark);
}

.hotVeryVery {
  background-color: var(--tempRed);
}

.hotVery {
  background-color: var(--tempOrangeDark);
}

.hotQuite {
  background-color: var(--tempOrange);
}

.warmYucky {
  background-color: var(--tempOrangeLight);
}

.warmNice {
  background-color: var(--tempYellow);
}

.coolNice {
  background-color: var(--tempGreen);
}

.coolChilly {
  background-color: var(--tempTurquoise);
}

.coldCold {
  background-color: var(--tempBlueDark);
}

.coldVery {
  background-color: var(--tempBlueLight);
}

.freezing {
  background-color: var(--tempBlueLighter);
}

.default {
  background-color: var(--colorTealDarker);
}



/* forecast cards */

.card {
  border: 0.2rem solid var(--colorWhite) !important;
  padding: 0px;
  margin: 0;
  font-size: 1rem;
}


.foreTitleDay {
  font-size: 1.4rem;
  padding: 2px;
  margin: 0 !important;
  background-color: var(--colorElectricBlue);
  border: 0.1rem solid var(--colorWhite) !important;
}

.foreTitleDayIcon {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0 !important;
  width: 100%;
  text-align: center;
  background-color: var(--colorOrange);
  border: 0.1rem solid var(--colorWhite) !important;
  outline: auto;
}


.attr{
  font-size: 0.9rem;
  padding: 3px;
  background-color: var(--colorPink);
}


/* search cards */

.searchBtnsRow {
  padding: 0 !important;
  margin: 0 !important;
}

.cardButtons {
  border: 0 !important;
  padding: 0;
  margin: 0;
  background-color: var(--colorElectricBlue) !important;
}

.card-body-btn {
  padding: 0 !important;
  margin: 0 !important;
}

.foreDesc {
  font-size: 0.8rem;
  line-height: 0rem;
}



